[user]
	name = Andrew Noble
	email = aenoble@gmail.com
[color]
	ui = true
[alias]
	ci = commit
  lol = log --graph --oneline --pretty=format:'%C(yellow)%h %C(white)%s (%C(dim green)%an - %C(cyan)%ad%C(white))' --date=relative
  fuckit = reset --hard
	please = push --force-with-lease
[core]
	editor = /usr/bin/vim
	excludesfile = ~/gitignore_global
